<div class="burgers flexbox-item-burger">
    <div class="burgers-text">{{burger_name}}{{#unless (isMarksBurger burger_name)}}<button
            class="{{#if devoured}}deleteButton{{else}}eatButton{{/if}}"
            data-id={{id}}>{{#if devoured}}Delete{{else}}Eat{{/if}}{{/unless}}</button>
    </div>
</div>